Packs/KoiContentExtension/Playbooks/playbook-KOI_Ext_-_Investigate_Device.yml
id: KOI Ext - Investigate Device
version: -1
fromversion: 6.10.0
name: KOI Ext - Investigate Device
description: |-
  Device posture check for the Marketplace KOI pack (Koi, v1.2.3 — 13 commands, integration only).
  Given a device_id, lists everything KOI sees installed on that device, flags the items whose
  risk_level is in risk_levels (default high,critical), and posts a posture summary plus a
  risky-items table. Reusable from KOI Ext - Alert Triage or standalone. Best-effort: every
  command task is continue-on-error.

  THERE IS NO DEVICE OBJECT IN THIS PACK. The Marketplace pack ships no koi-devices-list,
  no koi-device-inventory-get and no Koi.Device.* context prefix — the data model is
  item-centric. A device is addressable only as a FILTER on inventory:
  koi-inventory-list(device_id=<id>), which is a verified argument of that command
  ("Filter devices by device ID"). Everything this playbook knows about the host therefore
  comes back as Koi.Inventory.* item records, not as device attributes. The hostname cannot
  be resolved from a device_id; it is passed in as an input and comes from the alert payload
  (resources[type=device].data.hostname), or is left blank when running standalone.

  Substitution vs the custom pack (KOI v1.3.0, 26 commands) this was ported from:
    - koi-device-inventory-get(device_id, limit)  ->  koi-inventory-list(device_id, limit)
      Koi.DeviceInventory.*  ->  Koi.Inventory.*
      The records returned are ORG-LEVEL item records, so version, first_seen, last_seen,
      endpoint_count and installs_count are organization-wide aggregates, NOT this device's.
      Per-device activation_status, local install path, per-host version and per-host
      first_seen are not available in this pack.
    - koi-remediations-list  ->  DROPPED. No command in the 13 returns remediation records,
      so "remediations on this host" is gone; the row was removed from the summary rather
      than left showing zero.

  CONTEXT HYGIENE: koi-inventory-list, koi-inventory-item-get and koi-inventory-search all
  write the same Koi.Inventory.* paths and repeated calls APPEND. This playbook therefore
  deletes Koi.Inventory before listing, so total_items and the risky-items table describe
  the device only and are not inflated by an earlier item-scoped lookup made by the caller.
  Callers that need an item-scoped Koi.Inventory value must capture it as a scalar BEFORE
  invoking this playbook.

  OPTIONAL XDR ENRICHMENT (Theme D / D3c + D4) — best-effort, degrades gracefully.
  A parallel right-hand lane (tasks 9-17) runs two XQL queries via xdr-xql-generic-query when a
  hostname is available: (1) D3c "when did KOI last actually scan this device?" (xdr_data — KOI
  is run-on-demand on Windows, so absence of KOI events means "no scan ran", not "nothing
  changed"; the KOI agent's bundled interpreter makes the scan visible to XDR), and (2) D4 the
  host acquisition timeline (koi_koi_raw Audit UNION xdr_data PROCESS — what KOI says arrived vs
  which process brought it). Both key on ${inputs.hostname}. This introduces a dependency on the
  Cortex XDR - XQL Query Engine integration, which is NOT the KOI integration and is NOT part of
  this pack; it is declared OPTIONAL (mandatory:false) in pack_metadata.json (pack CortexXDR; on
  Cortex platform the same command ships in Core). Every task in the lane is continue-on-error
  and runs in PARALLEL with the KOI device listing, never blocking it: no hostname, or the engine
  absent/slow/rate-limited, and the lane is skipped or errors while the KOI posture completes
  unchanged. Neither query reads source_log_type = "Alerts", so the Alerts dedupe rule does not
  apply.
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: koiexdev-0000-4000-8000-000000000000
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: start
    task:
      id: koiexdev-0000-4000-8000-000000000000
      version: -1
      name: ''
      iscommand: false
      brand: ''
      type: start
    nexttasks:
      '#none#':
      - '1'
      - '9'
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 50}}'
  '1':
    id: '1'
    taskid: koiexdev-0000-4000-8000-000000000001
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000001
      version: -1
      name: Clear prior inventory context
      description: Deletes Koi.Inventory so the device listing below is not mixed with an item-scoped inventory lookup made earlier by the caller. koi-inventory-list appends to Koi.Inventory on every call.
      iscommand: false
      brand: ''
      script: DeleteContext
      type: regular
    scriptarguments:
      key:
        simple: Koi.Inventory
      subplaybook:
        simple: auto
    nexttasks:
      '#none#':
      - '2'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 200}}'
  '2':
    id: '2'
    taskid: koiexdev-0000-4000-8000-000000000002
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000002
      version: -1
      name: List inventory on the device
      description: 'Everything KOI sees installed on this device. Substitutes the custom pack''s koi-device-inventory-get, which does not exist here: koi-inventory-list accepts device_id as a filter and returns org-level Koi.Inventory item records scoped to that device.'
      iscommand: true
      brand: ''
      script: '|||koi-inventory-list'
      type: regular
    scriptarguments:
      device_id:
        simple: ${inputs.device_id}
      limit:
        simple: '500'
      using:
        simple: ${inputs.instance_name}
    nexttasks:
      '#error#':
      - '3'
      '#none#':
      - '3'
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 450, "y": 370}}'
  '3':
    id: '3'
    taskid: koiexdev-0000-4000-8000-000000000003
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000003
      version: -1
      name: Set total_items
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiDeviceInv.total_items
      value:
        complex:
          root: Koi.Inventory
          accessor: item_id
          transformers:
          - operator: count
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '4'
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 540}}'
  '4':
    id: '4'
    taskid: koiexdev-0000-4000-8000-000000000004
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000004
      version: -1
      name: Set risky_count
      description: Counts the device's items whose Koi.Inventory.risk_level is in the risk_levels input. The vocabulary is low / medium / high / critical / pending.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiDeviceInv.risky_count
      value:
        complex:
          root: Koi.Inventory
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Koi.Inventory.risk_level
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.risk_levels
          accessor: item_id
          transformers:
          - operator: count
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '5'
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 710}}'
  '5':
    id: '5'
    taskid: koiexdev-0000-4000-8000-000000000005
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000005
      version: -1
      name: Set summary
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiDeviceInv.summary
      value:
        simple: '### KOI Device Investigation — ${inputs.hostname} (${inputs.device_id})

          | Field | Value |

          |---|---|

          | Items installed | ${KoiDeviceInv.total_items} |

          | Risky items (${inputs.risk_levels}) | ${KoiDeviceInv.risky_count} |

          _Item records are organization-wide; per-device version, install path and activation status are not available in the Marketplace KOI pack. Host remediation history is not available at all._

          _Optional XDR enrichment: when a hostname is supplied and the Cortex XDR - XQL Query Engine is present, separate war-room notes post KOI scan freshness (D3c) and the host acquisition timeline (D4). Best-effort; absent when the engine is not installed._

          '
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '6'
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 880}}'
  '6':
    id: '6'
    taskid: koiexdev-0000-4000-8000-000000000006
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000006
      version: -1
      name: Post device summary
      description: Prints to the war room.
      iscommand: false
      brand: ''
      script: Print
      type: regular
    scriptarguments:
      value:
        simple: ${KoiDeviceInv.summary}
    nexttasks:
      '#none#':
      - '7'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1050}}'
  '7':
    id: '7'
    taskid: koiexdev-0000-4000-8000-000000000007
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000007
      version: -1
      name: Post risky items table
      description: Prints the risky items on this device to the war room.
      iscommand: false
      brand: ''
      script: Print
      type: regular
    scriptarguments:
      value:
        complex:
          root: Koi.Inventory
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Koi.Inventory.risk_level
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.risk_levels
          transformers:
          - operator: JsonToTable
    nexttasks:
      '#none#':
      - '8'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1220}}'
  '8':
    id: '8'
    taskid: koiexdev-0000-4000-8000-000000000008
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: title
    task:
      id: koiexdev-0000-4000-8000-000000000008
      version: -1
      name: Done
      iscommand: false
      brand: ''
      type: title
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1390}}'
  '9':
    id: '9'
    taskid: koiexdev-0000-4000-8000-000000000009
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: condition
    task:
      id: koiexdev-0000-4000-8000-000000000009
      version: -1
      name: Is a hostname available for XDR correlation?
      description: 'OPTIONAL XDR ENRICHMENT gate. The two XQL queries below key on agent_hostname, so they only run when a hostname was supplied (this pack cannot resolve one from device_id). No hostname -> the lane is skipped with a note and the KOI device posture completes unchanged. This whole lane runs in PARALLEL with the KOI listing and never blocks it.'
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.hostname
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '17'
      'yes':
      - '10'
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 50}}'
  '10':
    id: '10'
    taskid: koiexdev-0000-4000-8000-000000000010
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000010
      version: -1
      name: Post XDR-correlation header
      description: Prints a header for the optional Cortex XDR - XQL Query Engine enrichment, stating what the two tables below are and that they are empty when the engine is not installed.
      iscommand: false
      brand: ''
      script: Print
      type: regular
    scriptarguments:
      value:
        simple: |-
          ### XDR correlation for ${inputs.hostname} (optional XQL enrichment)
          Two best-effort Cortex XDR queries over ${inputs.xql_time_frame} follow. (1) When KOI last actually scanned this host (Theme D / D3c) — KOI is run-on-demand on Windows, so silence from KOI can mean "no scan ran", not "nothing changed"; XDR sees the KOI agent's own bundled interpreter. (2) The host acquisition timeline — what KOI says arrived vs which process brought it (Theme D / D4). These use the Cortex XDR - XQL Query Engine integration, which is NOT part of the KOI pack; if it is absent the tables below are empty and the KOI device posture summary is unaffected.
    nexttasks:
      '#none#':
      - '11'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 200}}'
  '11':
    id: '11'
    taskid: koiexdev-0000-4000-8000-000000000011
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000011
      version: -1
      name: Clear prior XQL results (scan freshness)
      description: Deletes PaloAltoNetworksXQL.GenericQuery so the scan-freshness query writes a clean result. xdr-xql-generic-query appends to that path, so it is cleared before each of the two queries in this lane.
      iscommand: false
      brand: ''
      script: DeleteContext
      type: regular
    scriptarguments:
      key:
        simple: PaloAltoNetworksXQL.GenericQuery
      subplaybook:
        simple: auto
    nexttasks:
      '#none#':
      - '12'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 370}}'
  '12':
    id: '12'
    taskid: koiexdev-0000-4000-8000-000000000012
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000012
      version: -1
      name: When did KOI last scan this device? (XQL)
      description: 'THEME D / D3c — is silence from KOI on this host evidence of no change, or of no scan? Runs xdr-xql-generic-query (Cortex XDR - XQL Query Engine, NOT a KOI command) over xdr_data PROCESS for processes whose image path contains "Koi" (the KOI agent bundles its own interpreter under ...\Local\Koi\Python), keyed on agent_hostname = ${inputs.hostname}. Uses only xdr_data, so the Alerts dedupe rule does not apply. continue-on-error.'
      iscommand: true
      brand: ''
      script: '|||xdr-xql-generic-query'
      type: regular
    scriptarguments:
      query:
        simple: |-
          dataset = xdr_data
          | filter event_type = ENUM.PROCESS
          | filter agent_hostname = "${inputs.hostname}"
          | filter actor_process_image_path contains "Koi" or action_process_image_path contains "Koi"
          | comp max(_time) as last_koi_agent_activity, min(_time) as first_koi_agent_activity, count() as processes_spawned_by_koi, count_distinct(action_process_causality_id) as scan_causality_chains, values(action_process_image_name) as koi_child_processes by agent_hostname
          | limit 100
      time_frame:
        simple: ${inputs.xql_time_frame}
      query_name:
        simple: KOI Ext - KOI scan freshness
    nexttasks:
      '#error#':
      - '13'
      '#none#':
      - '13'
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 900, "y": 540}}'
  '13':
    id: '13'
    taskid: koiexdev-0000-4000-8000-000000000013
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000013
      version: -1
      name: Post KOI scan-freshness table
      description: Prints the XDR-derived KOI scan-freshness row (last scan, processes spawned, child processes) to the war room. Empty when the XQL engine is absent or the host has no KOI-agent activity in the window.
      iscommand: false
      brand: ''
      script: Print
      type: regular
    scriptarguments:
      value:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery
          accessor: results
          transformers:
          - operator: JsonToTable
    nexttasks:
      '#none#':
      - '14'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 710}}'
  '14':
    id: '14'
    taskid: koiexdev-0000-4000-8000-000000000014
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000014
      version: -1
      name: Clear prior XQL results (acquisition timeline)
      description: Deletes PaloAltoNetworksXQL.GenericQuery again so the acquisition-timeline query below writes a clean result rather than appending to the scan-freshness result.
      iscommand: false
      brand: ''
      script: DeleteContext
      type: regular
    scriptarguments:
      key:
        simple: PaloAltoNetworksXQL.GenericQuery
      subplaybook:
        simple: auto
    nexttasks:
      '#none#':
      - '15'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 880}}'
  '15':
    id: '15'
    taskid: koiexdev-0000-4000-8000-000000000015
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000015
      version: -1
      name: Host acquisition timeline (XQL)
      description: 'THEME D / D4 — on this host, in this window, what arrived and which process brought it? Runs xdr-xql-generic-query (Cortex XDR - XQL Query Engine, NOT a KOI command) unioning koi_koi_raw Audit (what KOI says arrived) with xdr_data PROCESS (which installer/package-manager was running), both keyed on ${inputs.hostname}. The koi_koi_raw side reads source_log_type = "Audit" (NOT Alerts), so the Alerts dedupe rule does not apply. continue-on-error.'
      iscommand: true
      brand: ''
      script: '|||xdr-xql-generic-query'
      type: regular
    scriptarguments:
      query:
        simple: |-
          dataset = koi_koi_raw
          | filter source_log_type = "Audit" and type = "extensions"
          | filter hostname = "${inputs.hostname}"
          | filter action in ("installed", "updated")
          | alter lane = "1_KOI_SAYS_ARRIVED"
          | alter what = concat(object_name, " @", coalesce(item_version, "?"))
          | alter how  = concat(coalesce(marketplace, "<unset>"), " / ", coalesce(platform, "?"))
          | alter who  = coalesce(triggered_by, "-")
          | fields _time, lane, what, how, who
          | union
          (dataset = xdr_data
           | filter event_type = ENUM.PROCESS
           | filter agent_hostname = "${inputs.hostname}"
           | filter action_process_image_name in ("pip.exe", "pip3.exe", "npm.exe", "npx.exe", "node.exe", "git.exe", "curl.exe", "wget.exe", "winget.exe", "msiexec.exe", "choco.exe", "code.exe", "cursor.exe")
           | filter action_process_image_command_line not contains "--type="
           | alter lane = "2_XDR_BROUGHT_IT"
           | alter what = coalesce(action_process_image_command_line, action_process_image_name)
           | alter how  = concat(coalesce(actor_process_image_name, "?"), " -> ", coalesce(action_process_image_name, "?"))
           | alter who  = coalesce(action_process_username, "-")
           | fields _time, lane, what, how, who)
          | sort asc _time
          | limit 400
      time_frame:
        simple: ${inputs.xql_time_frame}
      query_name:
        simple: KOI Ext - Host acquisition timeline
    nexttasks:
      '#error#':
      - '16'
      '#none#':
      - '16'
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 900, "y": 1050}}'
  '16':
    id: '16'
    taskid: koiexdev-0000-4000-8000-000000000016
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000016
      version: -1
      name: Post host acquisition timeline
      description: Prints the two-lane acquisition timeline (KOI says arrived vs XDR brought it) to the war room. Empty when the XQL engine is absent.
      iscommand: false
      brand: ''
      script: Print
      type: regular
    scriptarguments:
      value:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery
          accessor: results
          transformers:
          - operator: JsonToTable
    nexttasks:
      '#none#':
      - '8'
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 1220}}'
  '17':
    id: '17'
    taskid: koiexdev-0000-4000-8000-000000000017
    separatecontext: false
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    type: regular
    task:
      id: koiexdev-0000-4000-8000-000000000017
      version: -1
      name: Record - XDR correlation skipped (no hostname)
      description: The optional XDR enrichment needs a hostname and none was supplied. The Marketplace KOI pack cannot resolve one from device_id, so pass resources[type=device].data.hostname from the alert to enable it.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiDeviceInv.xdr_enrichment_state
      value:
        simple: 'XDR correlation skipped: no hostname supplied, so KOI scan freshness (D3c) and the host acquisition timeline (D4) could not run. Pass the alert hostname (resources[type=device].data.hostname) to enable the optional Cortex XDR - XQL Query Engine enrichment.'
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '8'
    continueonerrortype: ''
    view: '{"position": {"x": 1300, "y": 200}}'
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 1500, "width": 1400, "x": 450, "y": 20}}}'
inputs:
- key: device_id
  value: {}
  required: true
  description: The KOI device ID. Used as the device_id filter on koi-inventory-list. In an alert this is resources[type=device].data.id.
  playbookInputQuery: null
- key: hostname
  value: {}
  required: false
  description: The device hostname, for display only. It CANNOT be resolved from device_id in this pack — there is no device command. Supply it from the alert payload (resources[type=device].data.hostname).
  playbookInputQuery: null
- key: risk_levels
  value:
    simple: high,critical
  required: false
  description: Comma-separated Koi.Inventory.risk_level values to flag. Vocabulary - low, medium, high, critical, pending.
  playbookInputQuery: null
- key: instance_name
  value: {}
  required: false
  description: The KOI integration instance to use. Leave empty to let the platform pick the single enabled instance of the Marketplace KOI pack.
  playbookInputQuery: null
- key: xql_time_frame
  value:
    simple: 7 days
  required: false
  description: 'Time frame for the OPTIONAL XDR-correlation XQL queries (Theme D / D3c scan freshness and D4 acquisition timeline), passed to xdr-xql-generic-query. Relative format, e.g. "24 hours", "7 days". Only used when a hostname is available and the Cortex XDR - XQL Query Engine integration is present; the enrichment is best-effort and skipped otherwise.'
  playbookInputQuery: null
outputs:
- contextPath: KoiDeviceInv.total_items
  description: Number of inventory items KOI sees on the device.
  type: number
- contextPath: KoiDeviceInv.risky_count
  description: Number of those items at a risk level listed in risk_levels.
  type: number
- contextPath: KoiDeviceInv.summary
  description: Markdown device posture summary.
  type: string
- contextPath: Koi.Inventory
  description: The inventory items on the device (org-level item records, filtered by device_id).
  type: unknown
- contextPath: KoiDeviceInv.xdr_enrichment_state
  description: 'Optional XDR enrichment: set when the XDR correlation lane was skipped because no hostname was supplied.'
  type: string
- contextPath: PaloAltoNetworksXQL.GenericQuery
  description: 'Optional XDR enrichment: raw result of the last xdr-xql-generic-query in the correlation lane (D3c scan freshness / D4 acquisition timeline). Present only when the Cortex XDR - XQL Query Engine integration is installed.'
  type: unknown
tags:
- koi
- koi-ext
quiet: false
