Packs/KoiContentExtension/Playbooks/playbook-KOI_Ext_-_MCP_Server_Audit.yml
id: KOI Ext - MCP Server Audit
version: -1
fromversion: 6.10.0
name: KOI Ext - MCP Server Audit
description: |-
  Part of the KOI Content Extension pack, which extends the Marketplace KOI
  pack v1.2.3 (integration id "KOI") - that pack must be installed on the
  tenant.
  This playbook DOES call a KOI command: koi-inventory-list (the only one). A
  configured instance of the Marketplace KOI integration is required.

  Proactive hunt for risky MCP (Model Context Protocol) servers discovered by
  KOI. Enumerates MCP-server inventory items with koi-inventory-list
  view=mcp_servers, then reports every item whose Koi.Inventory.risk_level is
  in the risk_levels input. Designed to run on a schedule (attach it to a
  time-triggered Job).

  NOTE on view=mcp_servers: the value is accepted by the KOI API and returns
  data (verified live), but it is NOT in the predefined dropdown for the "view"
  argument in the Marketplace KOI pack v1.2.3, which offers only agentic_ai,
  ai_models, code_packages, extensions, os_packages and software. The task
  hardcodes mcp_servers as a literal, so the playbook runs correctly as
  imported - the gap only bites an operator who re-picks "view" from the XSOAR
  UI dropdown, where the value is not offered and would be silently dropped. Do
  not "fix" this by switching to view=all_items: that value is accepted but
  returns zero rows.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 9a1b0004-0000-4000-8000-000000000000
    type: start
    task:
      id: 9a1b0004-0000-4000-8000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      type: start
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 9a1b0004-0000-4000-8000-000000000001
    type: regular
    task:
      id: 9a1b0004-0000-4000-8000-000000000001
      version: -1
      name: List MCP servers from inventory
      description: Retrieves MCP-server inventory items across the organization.
      iscommand: true
      brand: ""
      script: '|||koi-inventory-list'
      type: regular
    scriptarguments:
      view:
        simple: mcp_servers
      limit:
        simple: "500"
      using:
        simple: ${inputs.instance_name}
    nexttasks:
      '#error#':
      - "6"
      '#none#':
      - "2"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 9a1b0004-0000-4000-8000-000000000002
    type: condition
    task:
      id: 9a1b0004-0000-4000-8000-000000000002
      version: -1
      name: Any high-risk MCP servers found?
      description: Filters the inventory to MCP servers at or above the configured risk level.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Koi.Inventory
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Koi.Inventory.risk_level
                    operator: inList
                    right:
                      iscontext: true
                      value:
                        simple: inputs.risk_levels
                accessor: item_id
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 9a1b0004-0000-4000-8000-000000000003
    type: regular
    task:
      id: 9a1b0004-0000-4000-8000-000000000003
      version: -1
      name: Collect risky MCP servers
      description: Records the risky MCP servers for reporting.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiMcpAudit.risky
      value:
        complex:
          root: Koi.Inventory
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Koi.Inventory.risk_level
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.risk_levels
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 250,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 9a1b0004-0000-4000-8000-000000000004
    type: regular
    task:
      id: 9a1b0004-0000-4000-8000-000000000004
      version: -1
      name: Report risky MCP servers
      description: Prints the risky MCP servers to the war room.
      iscommand: false
      brand: ""
      script: Print
      type: regular
    scriptarguments:
      value:
        complex:
          root: KoiMcpAudit.risky
          transformers:
          - operator: ParseJSON
          - operator: JsonToTable
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 250,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 9a1b0004-0000-4000-8000-000000000005
    type: title
    task:
      id: 9a1b0004-0000-4000-8000-000000000005
      version: -1
      name: Done
      iscommand: false
      brand: ""
      type: title
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 9a1b0004-0000-4000-8000-000000000006
    type: regular
    task:
      id: 9a1b0004-0000-4000-8000-000000000006
      version: -1
      name: Report inventory query failure
      description: Prints an error entry with a given message.
      iscommand: false
      brand: ""
      script: PrintErrorEntry
      type: regular
    scriptarguments:
      message:
        simple: 'KOI MCP Server Audit: failed to query the KOI inventory (koi-inventory-list). Verify the KOI integration instance connectivity.'
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 700,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 910,
        "width": 830,
        "x": 250,
        "y": 50
      }
    }
  }
inputs:
- key: risk_levels
  value:
    simple: high,critical
  required: false
  description: Comma-separated KOI risk levels to flag (e.g., high,critical).
  playbookInputQuery: null
- key: instance_name
  value: {}
  required: false
  description: The KOI integration instance to use. Leave empty to use the configured KOI instance (from the Marketplace KOI pack v1.2.3).
  playbookInputQuery: null
outputs:
- contextPath: KoiMcpAudit.risky
  description: The list of risky MCP-server inventory items found.
  type: unknown
tags:
- koi
- koi-ext
quiet: false
