Packs/KoiContentExtension/Playbooks/playbook-KOI_Ext_-_Block_and_Remediate.yml
id: KOI Ext - Block and Remediate
version: -1
fromversion: 6.10.0
name: KOI Ext - Block and Remediate
description: |-
  Response playbook for a flagged KOI item, for the Marketplace KOI pack (Koi, v1.2.3 —
  13 commands, integration only). Resolves the item's marketplace, runs the full
  investigation (KOI Ext - Investigate Item), short-circuits if the item is already on the
  blocklist, presents an analyst approval gate, and — only on approval — adds the item to
  the organization-wide KOI blocklist with koi-blocklist-items-add.

  SAFE BY DEFAULT. The blocklist write never fires without explicit analyst approval unless
  the caller passes auto_block=true. KOI Ext - Alert Triage always passes auto_block=false.
  This gate is a governance control, not a convenience — do not remove it.

  Both commands this playbook depends on (koi-blocklist-get, via the investigation, and
  koi-blocklist-items-add) exist in the Marketplace pack, so the response path ports intact.
  Rewiring vs the custom pack: the sub-playbook KOI - Investigate Item becomes
  KOI Ext - Investigate Item. The approval gate loses four decision lines that have no
  substitute in this pack: catalog (Koidex) risk level and score, the AI risk summary,
  remediation history and prior approval history. Allowlist state was added in their place.

  koi-blocklist-items-add DECLARES NO OUTPUTS AT ALL in this pack (verified in
  reference/marketplace-pack.json: "outputs": []). Nothing lands in context, so the playbook
  CANNOT branch on the API's answer — it can only branch on whether the command task errored.
  KoiBlock.status = "Blocked" therefore means "the add call returned without an error", not
  "the API confirmed a new blocklist entry". Re-run koi-blocklist-get if you need proof.

  MARKETPLACE IS LOAD-BEARING. koi-blocklist-items-add takes item_id + marketplace as a pair
  ("required when not using items_list_raw_json_entry_id"), and the alert payload does not
  always carry one — on live data item.marketplace is present on 296 of 314 alerts and is
  absent on every MCP-server alert. When marketplace is not supplied, this playbook resolves
  it from koi-inventory-list(item_id=<id>, limit=1) -> Koi.Inventory.marketplace. If it is
  still unknown at the write step the block is SKIPPED rather than attempted, so a malformed
  call is never made.

  VOCABULARY MAPPING - WHY TASKS 18-21 EXIST (VERIFIED_FACTS 7c). The marketplace a KOI event
  carries is NOT the value the KOI API accepts: events use short forms (software_windows,
  chrome, vsc, ...), the API and this pack's YAML predefined lists use long forms (windows,
  chrome_web_store, vscode, ...). Only npm and pypi are spelled the same in both, so an
  unmapped event value makes koi-blocklist-items-add fail with HTTP 400 — and this is the one
  playbook in the pack that WRITES, so getting it wrong means a block that silently did not
  happen. The marketplace INPUT is therefore mapped through a static table before anything
  uses it. The table carries the 22 API values as identity rows, so it is idempotent and a
  caller already passing an API value (KOI Ext - Alert Triage does) is unaffected.
  Koi.Inventory.marketplace is a COMMAND output, already API-canonical, and is never
  re-mapped. A value with no API equivalent (ollama, built_in, side_loaded) becomes EMPTY on
  purpose, which routes to the inventory lookup and, failing that, to the skip path.
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: koiexblk-0000-4000-8000-000000000000
    type: start
    task:
      id: koiexblk-0000-4000-8000-000000000000
      version: -1
      name: ''
      iscommand: false
      brand: ''
      type: start
    nexttasks:
      '#none#':
      - '18'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: koiexblk-0000-4000-8000-000000000012
    type: condition
    task:
      id: koiexblk-0000-4000-8000-000000000012
      version: -1
      name: Is a usable marketplace known?
      description: 'Tests the MAPPED value (KoiBlock.marketplace_in), not the caller''s raw input, so a value the KOI API would reject never reaches the write. koi-blocklist-items-add needs item_id AND marketplace together. This is empty in three cases: the caller supplied none (MCP-server alerts never carry one), the value they supplied has no API equivalent (ollama / built_in / side_loaded), or KOI has introduced a marketplace this map does not know. All three resolve from the org inventory instead.'
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              simple: KoiBlock.marketplace_in
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '13'
      'yes':
      - '15'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 200}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: koiexblk-0000-4000-8000-000000000013
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000013
      version: -1
      name: Resolve marketplace from inventory
      description: Looks the item up in the organization's inventory by item_id alone to recover its marketplace. koi-inventory-item-get cannot be used here - it requires item_id, marketplace AND version, all three.
      iscommand: true
      brand: ''
      script: '|||koi-inventory-list'
      type: regular
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      limit:
        simple: '1'
      using: &id001
        simple: ${inputs.instance_name}
    nexttasks:
      '#error#':
      - '14'
      '#none#':
      - '14'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 220, "y": 350}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: koiexblk-0000-4000-8000-000000000014
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000014
      version: -1
      name: Set marketplace from inventory
      description: 'Takes the marketplace off the inventory record. This is a COMMAND output: it is already in the API vocabulary and is deliberately NOT passed through the map - allow-listing a command output against a static table would silently drop a marketplace KOI adds to the API later. LastArrayElement is deliberate - koi-inventory-list appends to Koi.Inventory, so the last element is this task''s own lookup.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.marketplace
      value:
        complex:
          root: Koi.Inventory
          accessor: marketplace
          transformers:
          - operator: LastArrayElement
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 220, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: koiexblk-0000-4000-8000-000000000015
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000015
      version: -1
      name: Set marketplace from input
      description: Uses the caller-supplied marketplace after vocabulary mapping (tasks 18-21). Never the raw input - see the playbook description.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.marketplace
      value:
        simple: ${KoiBlock.marketplace_in}
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 680, "y": 350}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: koiexblk-0000-4000-8000-000000000001
    type: playbook
    task:
      id: koiexblk-0000-4000-8000-000000000001
      version: -1
      name: Investigate the item
      description: 'Runs the full KOI investigation: org risk, exposure (installs / signing / publisher / endpoints / users) and governance state (blocklist membership). Catalog risk, the AI risk summary, remediation history and approval history are not available in the Marketplace pack.'
      playbookId: KOI Ext - Investigate Item
      iscommand: false
      brand: ''
      type: playbook
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      marketplace:
        simple: ${KoiBlock.marketplace}
      version:
        simple: ${inputs.version}
      instance_name:
        simple: ${inputs.instance_name}
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 690}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: koiexblk-0000-4000-8000-000000000010
    type: condition
    task:
      id: koiexblk-0000-4000-8000-000000000010
      version: -1
      name: Already on the KOI blocklist?
      description: The investigation already pulled the org blocklist with koi-blocklist-get - skip a redundant write if this item is on it.
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Koi.Blocklist
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Koi.Blocklist.item_id
                    operator: inList
                    right:
                      iscontext: true
                      value:
                        simple: inputs.item_id
                accessor: item_id
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '2'
      'yes':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 860}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: koiexblk-0000-4000-8000-000000000011
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000011
      version: -1
      name: Record already blocked
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Already blocked
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 960, "y": 1030}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: koiexblk-0000-4000-8000-000000000002
    type: condition
    task:
      id: koiexblk-0000-4000-8000-000000000002
      version: -1
      name: Is approval required?
      description: When auto_block is true the block proceeds without an approval gate; otherwise an analyst must approve. Default is false - approval required.
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: auto
      condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.auto_block
          operator: isEqualString
          right:
            value:
              simple: 'true'
    nexttasks:
      '#default#':
      - '3'
      auto:
      - '16'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1030}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: koiexblk-0000-4000-8000-000000000003
    type: condition
    task:
      id: koiexblk-0000-4000-8000-000000000003
      version: -1
      name: Approve blocking this item?
      description: 'Analyst decision. Review the full KOI investigation before approving an organization-wide block.

        Item: ${inputs.item_id} (${KoiBlock.marketplace})

        Org risk: ${KoiInvestigation.org_risk_level} (score ${KoiInvestigation.org_risk_score}) | Publisher: ${KoiInvestigation.publisher} | Signed: ${KoiInvestigation.is_signed}

        Org installs: ${KoiInvestigation.installs_count} | Endpoints affected: ${KoiInvestigation.endpoint_count} | Findings: ${KoiInvestigation.findings_count}

        Hostnames: ${KoiInvestigation.hostnames}

        Affected users: ${KoiInvestigation.affected_users}

        Governance state - blocklist entries: ${KoiInvestigation.blocklisted_count} | allowlist entries: ${KoiInvestigation.allowlisted_count}

        Reason for this request: ${inputs.reason}

        NOTE: catalog (Koidex) risk, the AI risk summary, remediation history and prior approval history are NOT available in the Marketplace KOI pack v1.2.3 and are absent from this gate by design, not by omission.'
      iscommand: false
      brand: ''
      type: condition
    nexttasks:
      Approve:
      - '16'
      Reject:
      - '4'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 220, "y": 1200}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: koiexblk-0000-4000-8000-000000000004
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000004
      version: -1
      name: Record block rejected
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Rejected
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 20, "y": 1540}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: koiexblk-0000-4000-8000-000000000016
    type: condition
    task:
      id: koiexblk-0000-4000-8000-000000000016
      version: -1
      name: Is the item addressable?
      description: Last guard before the write. koi-blocklist-items-add needs item_id AND marketplace; if marketplace could not be resolved - not supplied, no API equivalent for the value supplied, and not recoverable from the org inventory - the block is skipped rather than attempted with a half-formed call that would return HTTP 400. This guard sits AFTER the approval gate so it can never be used to bypass it.
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              simple: KoiBlock.marketplace
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              simple: inputs.item_id
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '17'
      'yes':
      - '5'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1370}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: koiexblk-0000-4000-8000-000000000017
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000017
      version: -1
      name: Record block skipped
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Skipped - marketplace unknown
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 220, "y": 1540}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: koiexblk-0000-4000-8000-000000000005
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000005
      version: -1
      name: Add item to KOI blocklist
      description: Adds the item to the organization-wide KOI blocklist. This command declares no outputs, so success is inferred from the absence of an error entry, not from returned data.
      iscommand: true
      brand: ''
      script: '|||koi-blocklist-items-add'
      type: regular
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      marketplace:
        simple: ${KoiBlock.marketplace}
      created_by:
        simple: ${inputs.created_by}
      notes:
        simple: ${inputs.reason}
      using: *id001
    nexttasks:
      '#error#':
      - '7'
      '#none#':
      - '6'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 680, "y": 1540}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: koiexblk-0000-4000-8000-000000000006
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000006
      version: -1
      name: Record block succeeded
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Blocked
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 560, "y": 1710}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: koiexblk-0000-4000-8000-000000000007
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000007
      version: -1
      name: Record block failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Failed
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 1710}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: koiexblk-0000-4000-8000-000000000008
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000008
      version: -1
      name: Post response summary
      description: Prints the block outcome to the war room.
      iscommand: false
      brand: ''
      script: Print
      type: regular
    scriptarguments:
      value:
        simple: '## KOI Block & Remediate — ${KoiBlock.status}

          | Field | Value |

          |---|---|

          | Item | ${inputs.item_id} (${KoiBlock.marketplace}) |

          | Outcome | **${KoiBlock.status}** |

          | Org risk / publisher | ${KoiInvestigation.org_risk_level} / ${KoiInvestigation.publisher} |

          | Org installs | ${KoiInvestigation.installs_count} |

          | Endpoints affected | ${KoiInvestigation.endpoint_count} |

          | Hostnames | ${KoiInvestigation.hostnames} |

          | Reason | ${inputs.reason} |

          _Outcome "Blocked" means koi-blocklist-items-add returned without an error. The command declares no outputs in Marketplace KOI pack v1.2.3, so the entry is not read back. Run koi-blocklist-get to confirm._'
    nexttasks:
      '#none#':
      - '9'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1880}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: koiexblk-0000-4000-8000-000000000009
    type: title
    task:
      id: koiexblk-0000-4000-8000-000000000009
      version: -1
      name: Done
      iscommand: false
      brand: ''
      type: title
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 2050}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: koiexblk-0000-4000-8000-000000000018
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000018
      version: -1
      name: Coerce marketplace to scalar (verbatim)
      description: 'Coerces the caller-supplied marketplace to a scalar and keeps it VERBATIM, before any vocabulary mapping. Playbook inputs arrive as 1-element arrays when fed from another playbook output; joining with an empty separator collapses them. May legitimately be empty - marketplace is only a filter on koi-inventory-list, and KOI Ext - Extract Alert Context cannot supply one on MCP alerts.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.marketplace_raw
      value:
        complex:
          root: inputs.marketplace
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '19'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: koiexblk-0000-4000-8000-000000000019
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000019
      version: -1
      name: Load the marketplace vocabulary map
      description: 'Loads the KOI marketplace vocabulary map as a JSON string. VERIFIED_FACTS 7c: the marketplace values carried in koi_koi_raw events are SHORT forms (software_windows, chrome, vsc, ...) while the KOI API and the pack YAML predefined lists use LONG forms (windows, chrome_web_store, vscode, ...). Passing an event value to a command unchanged returns HTTP 400. Each row is {src -> api}. The 22 API values are also present as identity rows, so the mapping is IDEMPOTENT and a value that is already in API form survives it unchanged - re-mapping an already-mapped value is safe. ollama, built_in and side_loaded are deliberately ABSENT: ollama has no API equivalent, and built_in / side_loaded are installation_method values leaking into the marketplace field. A value with no row maps to EMPTY, which downstream playbooks recover from with a koi-inventory-list lookup by item_id; a wrong value is an unrecoverable 400. KEEP THIS TABLE IDENTICAL IN ALL FOUR PLAYBOOKS THAT CARRY IT (Extract Alert Context, Investigate Item, Enrich Item, Block and Remediate).'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiMarketplaceMapRaw
      value:
        simple: '[{"src":"software_windows","api":"windows"},{"src":"software_mac","api":"mac"},{"src":"vsc","api":"vscode"},{"src":"jet","api":"jetbrains"},{"src":"npp","api":"notepad++"},{"src":"openvsx","api":"open_vsx_registry"},{"src":"chrome","api":"chrome_web_store"},{"src":"edge","api":"edge_add_ons"},{"src":"firefox","api":"firefox_add_ons"},{"src":"github","api":"github_mcp_registry"},{"src":"npm","api":"npm"},{"src":"pypi","api":"pypi"},{"src":"homebrew","api":"homebrew"},{"src":"chocolatey","api":"chocolatey"},{"src":"cursor","api":"cursor"},{"src":"docker","api":"docker"},{"src":"claude_desktop_extensions","api":"claude_desktop_extensions"},{"src":"chrome_web_store","api":"chrome_web_store"},{"src":"edge_add_ons","api":"edge_add_ons"},{"src":"firefox_add_ons","api":"firefox_add_ons"},{"src":"github_mcp_registry","api":"github_mcp_registry"},{"src":"hugging_face","api":"hugging_face"},{"src":"jetbrains","api":"jetbrains"},{"src":"linux","api":"linux"},{"src":"mac","api":"mac"},{"src":"notepad++","api":"notepad++"},{"src":"office_add_ins","api":"office_add_ins"},{"src":"open_vsx_registry","api":"open_vsx_registry"},{"src":"visual_studio","api":"visual_studio"},{"src":"vscode","api":"vscode"},{"src":"windows","api":"windows"},{"src":"windsurf","api":"windsurf"}]'
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '20'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 140}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: koiexblk-0000-4000-8000-000000000020
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000020
      version: -1
      name: Parse the marketplace vocabulary map
      description: 'ParseJSON the vocabulary map into an array of objects so the next task can filter it. A complex value evaluates root -> accessor -> filters -> transformers, so the parse cannot be folded into the lookup task: its transformers would run after its filters.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiMarketplaceMap
      value:
        complex:
          root: KoiMarketplaceMapRaw
          transformers:
          - operator: ParseJSON
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '21'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 230}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: koiexblk-0000-4000-8000-000000000021
    type: regular
    task:
      id: koiexblk-0000-4000-8000-000000000021
      version: -1
      name: Normalize marketplace to the API vocabulary
      description: 'Normalizes the caller-supplied marketplace onto the KOI API vocabulary. The value can reach this playbook from three kinds of source and the task is correct for all three. (a) EVENT-DERIVED - a caller that read marketplace out of a koi_koi_raw row (KOI Ext - Extract Alert Context, or any audit-driven playbook written against this pack) supplies a SHORT form such as software_windows or chrome, which every KOI item command rejects with HTTP 400; this task translates it. (b) ALREADY IN API FORM - KOI Ext - Alert Triage passes a value it has already resolved; the map identity rows pass it through unchanged, so running it through here a second time is a no-op, not a double-mapping bug. (c) COMMAND-DERIVED - Koi.Inventory.marketplace is already API-canonical and is NEVER sent through this task; the fallback branch below reads it directly, because allow-listing a command output against a static table would silently drop a marketplace KOI adds to the API later. A value with no row becomes EMPTY, which routes to that same inventory fallback.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.marketplace_in
      value:
        complex:
          root: KoiMarketplaceMap
          filters:
          - - left:
                iscontext: true
                value:
                  simple: KoiMarketplaceMap.src
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: KoiBlock.marketplace_raw
          - - left:
                iscontext: true
                value:
                  simple: KoiBlock.marketplace_raw
              operator: isNotEmpty
              right:
                value: {}
          accessor: api
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '12'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 2160, "width": 1180, "x": 20, "y": 20}}}'
inputs:
- key: item_id
  value: {}
  required: true
  description: The KOI item ID to block. In an alert this is observables[name="item.id"].value.
  playbookInputQuery: null
- key: marketplace
  value: {}
  required: false
  description: 'The item''s marketplace. Optional - when empty it is resolved from koi-inventory-list(item_id). EITHER vocabulary is accepted: a raw event value (software_windows, chrome, vsc, ...) is mapped onto the API vocabulary (windows, chrome_web_store, vscode, ...) by tasks 18-21, and a value already in API form passes through unchanged. A value with no API equivalent (ollama, built_in, side_loaded) is treated as unknown and resolved from the org inventory instead.'
  playbookInputQuery: null
- key: version
  value: {}
  required: false
  description: The item version. Passed to the investigation so it can list the endpoints carrying this exact version; not used by the blocklist write itself.
  playbookInputQuery: null
- key: reason
  value: {}
  required: false
  description: Reason / notes recorded on the blocklist entry and shown in the approval gate.
  playbookInputQuery: null
- key: created_by
  value:
    simple: xsoar-koi-response
  required: false
  description: Attribution recorded on the blocklist entry. The API documents this field as an email address.
  playbookInputQuery: null
- key: auto_block
  value:
    simple: 'false'
  required: false
  description: Set to true to skip the analyst approval gate and block automatically. Default false (approval required). KOI Ext - Alert Triage always passes false.
  playbookInputQuery: null
- key: instance_name
  value: {}
  required: false
  description: The KOI integration instance to use. Leave empty to let the platform pick the single enabled instance of the Marketplace KOI pack.
  playbookInputQuery: null
outputs:
- contextPath: KoiBlock.status
  description: The block outcome - Blocked / Rejected / Failed / Already blocked / Skipped - marketplace unknown.
  type: string
- contextPath: KoiBlock.marketplace
  description: The marketplace actually used for the blocklist write.
  type: string
tags:
- koi
- koi-ext
quiet: false
