Packs/KoiContentExtension/Playbooks/playbook-KOI_Ext_-_Enrich_Item.yml
id: KOI Ext - Enrich Item
version: -1
fromversion: 6.10.0
name: KOI Ext - Enrich Item
description: |-
  Sub-playbook. Lightweight, reusable enrichment for a KOI item: the organization's
  inventory record (risk level, numeric risk, version, marketplace) plus the endpoints
  carrying the item, aggregated into a compact KoiEnrichment object and a markdown summary.

  PACK: KOI Content Extension. Extends the Marketplace KOI pack v1.2.3 (13 commands,
  integration only). Uses only commands that pack ships.

  SUBSTITUTION vs the custom pack's "KOI - Enrich Item"
    koi-koidex-risk-report            -> koi-inventory-list(item_id, marketplace, limit=1)
    Koi.KoidexRiskReport.risk_level   -> Koi.Inventory.risk_level
    Koi.KoidexRiskReport.risk         -> Koi.Inventory.risk
  koi-inventory-list is used rather than koi-inventory-item-get because item-get requires
  version, and version is exactly what this playbook does not reliably have up front.

  ORDERING FIX (this was a latent bug in the original)
  On the Marketplace pack koi-inventory-item-endpoints-list requires item_id AND marketplace
  AND version - all three. The original fed version from an OPTIONAL playbook input, so the
  call failed whenever the caller had no version. Here the inventory lookup runs FIRST and
  version (and marketplace) fall back to Koi.Inventory.version / Koi.Inventory.marketplace
  when the caller does not supply them. Supplying them still wins.

  CAPABILITY DELTA - read this before trusting the numbers
  - Risk is now ORG-LOCAL, not catalog/vendor risk. koi-koidex-risk-report queried the KOI
    catalog for any item whether or not the org ran it. koi-inventory-list returns only the
    organization's inventory record, so risk_level, risk_score, version and marketplace come
    back empty both when nobody in the org has the item AND when the inventory index has
    simply not caught up with the event stream (VERIFIED_FACTS 7d.3: items present in events
    at 06:06 were still returning total_count 0 from the inventory API at 06:21). The two are
    indistinguishable from here, so an empty enrichment is INCONCLUSIVE / NOT YET INDEXED -
    it is the normal, expected outcome for a newly-appeared item, and it is never evidence
    that the organization does not have the item.
  - There is no AI risk summary and no Koidex compliance block anywhere in the 13 commands.
  - Because version is resolved from the org record, an org running a different version than
    the one that triggered an alert is enriched at the ORG's version. Pass the alert's
    version explicitly if that distinction matters.

  MARKETPLACE VOCABULARY MAPPING - WHY TASKS 17-20 EXIST (VERIFIED_FACTS 7c)
  The marketplace value a KOI event carries is NOT the value the KOI API accepts: events use
  short forms (software_windows, chrome, vsc, ...) while the API and this pack's YAML
  predefined lists use long forms (windows, chrome_web_store, vscode, ...). Only npm and pypi
  are spelled the same in both, so an unmapped event value returns HTTP 400 from
  koi-inventory-item-endpoints-list. The marketplace INPUT is therefore run through a static
  map before use. The map carries the 22 API values as identity rows, so it is idempotent and
  a caller already supplying an API value is unaffected. Koi.Inventory.marketplace is a
  COMMAND output, is already API-canonical, and is never re-mapped. An unrecognised value
  becomes EMPTY and routes to the inventory fallback.

  Both command tasks are continue-on-error by design: if the KOI API is unreachable the
  playbook still returns whatever it could gather. The endpoints call is additionally gated on
  version AND marketplace both being known - an unknown (item_id, marketplace, version) triple
  returns HTTP 404, not an empty 200 (VERIFIED_FACTS 7b), so it is skipped rather than failed.

  CONTEXT COLLISION WARNING: koi-inventory-list, koi-inventory-item-get and
  koi-inventory-search all write the same 27 Koi.Inventory.* paths and overwrite each other.
  Do not add a second inventory call to this playbook. koi-inventory-item-endpoints-list is
  safe - it writes only Koi.Inventory.Endpoint.* and collides with nothing.
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: koixen00-0000-4000-8000-000000000000
    type: start
    task:
      id: koixen00-0000-4000-8000-000000000000
      version: -1
      name: ''
      iscommand: false
      brand: ''
      type: start
    nexttasks:
      '#none#':
      - '17'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: koixen00-0000-4000-8000-000000000001
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000001
      version: -1
      name: Get the org inventory record
      description: 'Substitutes the custom pack''s koi-koidex-risk-report. Returns the organization''s inventory record for the item: risk, risk_level, version, marketplace, installs_count, endpoint_count, is_signed, publisher_name, status, findings, governed_details. Runs FIRST so version and marketplace are available to the endpoints call below. limit=1 keeps Koi.Inventory a single record so ${Koi.Inventory.version} resolves as a scalar.'
      iscommand: true
      brand: ''
      script: '|||koi-inventory-list'
      type: regular
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      marketplace:
        simple: ${Enr.marketplace_in}
      limit:
        simple: '1'
      using:
        simple: ${inputs.instance_name}
    nexttasks:
      '#error#':
      - '2'
      '#none#':
      - '2'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 450, "y": 200}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: koixen00-0000-4000-8000-000000000002
    type: condition
    task:
      id: koixen00-0000-4000-8000-000000000002
      version: -1
      name: Did the caller supply a version?
      description: If the caller supplied a version, use it. Otherwise fall back to the version on the org inventory record. koi-inventory-item-endpoints-list requires version on this pack, so one of the two must resolve or the call cannot be made.
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.version
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '4'
      'yes':
      - '3'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 370}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: koixen00-0000-4000-8000-000000000003
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000003
      version: -1
      name: Use the supplied version
      description: Coerces the caller-supplied version to a scalar.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Enr.version
      value:
        complex:
          root: inputs.version
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '5'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 250, "y": 540}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: koixen00-0000-4000-8000-000000000004
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000004
      version: -1
      name: Use the org inventory version
      description: 'Falls back to Koi.Inventory.version from the lookup above. If the org inventory returned no record this stays empty and the endpoints call below is skipped - handled by continue-on-error. An empty org record is INCONCLUSIVE: either nobody has the item, or the inventory index has not caught up with the event that alerted on it (VERIFIED_FACTS 7d.3). Do not report it as "nobody has installed this".'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Enr.version
      value:
        complex:
          root: Koi.Inventory
          accessor: version
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '5'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 650, "y": 540}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: koixen00-0000-4000-8000-000000000005
    type: condition
    task:
      id: koixen00-0000-4000-8000-000000000005
      version: -1
      name: Is a usable marketplace known?
      description: 'Tests the MAPPED value (Enr.marketplace_in), not the caller''s raw input, so a value the KOI API would reject never reaches a command. marketplace is a required argument on koi-inventory-item-endpoints-list. It is empty here in three cases: the caller supplied none, KOI Ext - Extract Alert Context had none to supply (item.marketplace is absent on all 21 mcp_server alerts, and no extension alert has arrived since 2026-07-09, so an EMPTY MARKETPLACE IS NOW THE COMMON CASE rather than the exception), or the value supplied has no API equivalent (ollama, built_in, side_loaded). All three fall back to Koi.Inventory.marketplace, a COMMAND output that is already API-canonical and is used as-is.'
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              simple: Enr.marketplace_in
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '7'
      'yes':
      - '6'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 710}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: koixen00-0000-4000-8000-000000000006
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000006
      version: -1
      name: Use the supplied marketplace
      description: Uses the caller-supplied marketplace after vocabulary mapping. Already a scalar - it was coerced in task 17 and mapped in task 20.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Enr.marketplace
      value:
        simple: ${Enr.marketplace_in}
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '21'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 250, "y": 880}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: koixen00-0000-4000-8000-000000000007
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000007
      version: -1
      name: Use the org inventory marketplace
      description: 'Falls back to Koi.Inventory.marketplace. This is a COMMAND output: it is already in the API vocabulary and is deliberately NOT passed through the map - allow-listing a command output against a static table would silently drop a marketplace KOI adds to the API later.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Enr.marketplace
      value:
        complex:
          root: Koi.Inventory
          accessor: marketplace
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '21'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 650, "y": 880}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: koixen00-0000-4000-8000-000000000008
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000008
      version: -1
      name: Get endpoints with the item installed
      description: 'Retrieves the endpoints on which the item is installed. All three of item_id, marketplace and version are REQUIRED arguments on the Marketplace pack - this is why the inventory lookup runs first. Writes only Koi.Inventory.Endpoint.*, so it does not overwrite the inventory record read above.'
      iscommand: true
      brand: ''
      script: '|||koi-inventory-item-endpoints-list'
      type: regular
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      marketplace:
        simple: ${Enr.marketplace}
      version:
        simple: ${Enr.version}
      limit:
        simple: '200'
      using:
        simple: ${inputs.instance_name}
    nexttasks:
      '#error#':
      - '9'
      '#none#':
      - '9'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 450, "y": 1050}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: koixen00-0000-4000-8000-000000000009
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000009
      version: -1
      name: Aggregate endpoint exposure
      description: Records the unique hostnames of endpoints carrying the item. Unchanged from the original - koi-inventory-item-endpoints-list keeps the same Koi.Inventory.Endpoint.* output shape on this pack.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.hostnames
      value:
        complex:
          root: Koi.Inventory.Endpoint
          accessor: hostname
          transformers:
          - operator: uniq
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1220}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: koixen00-0000-4000-8000-000000000010
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000010
      version: -1
      name: Record endpoint count
      description: Counts the endpoints returned by the endpoints call. Note this is the count actually returned (bounded by limit=200), not Koi.Inventory.endpoint_count, which is the org-wide aggregate on the inventory record.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.endpoint_count
      value:
        complex:
          root: Koi.Inventory.Endpoint
          accessor: id
          transformers:
          - operator: count
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1390}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: koixen00-0000-4000-8000-000000000011
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000011
      version: -1
      name: Record org risk level
      description: 'SUBSTITUTION: Koi.KoidexRiskReport.risk_level -> Koi.Inventory.risk_level. This is the ORGANIZATION''s risk level for the item, not the KOI catalog''s. Empty means the org inventory returned no record - either nobody has the item, or the index has not caught up with the event that alerted on it - so it is INCONCLUSIVE. It does not mean the item is safe, and it does not mean the organization does not have it.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.risk_level
      value:
        complex:
          root: Koi.Inventory
          accessor: risk_level
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '12'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1560}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: koixen00-0000-4000-8000-000000000012
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000012
      version: -1
      name: Record org risk score
      description: 'SUBSTITUTION: Koi.KoidexRiskReport.risk -> Koi.Inventory.risk. Numeric risk on the org inventory record.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.risk_score
      value:
        complex:
          root: Koi.Inventory
          accessor: risk
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '13'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1730}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: koixen00-0000-4000-8000-000000000013
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000013
      version: -1
      name: Record resolved version and marketplace
      description: Publishes the version actually used for the endpoints lookup, so a caller can tell whether it came from the alert or from the org inventory record.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.version
      value:
        simple: ${Enr.version}
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '14'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 1900}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: koixen00-0000-4000-8000-000000000014
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000014
      version: -1
      name: Record resolved marketplace
      description: Publishes the marketplace actually used for the endpoints lookup.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.marketplace
      value:
        simple: ${Enr.marketplace}
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '15'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 2070}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: koixen00-0000-4000-8000-000000000015
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000015
      version: -1
      name: Build enrichment summary
      description: Markdown summary. Rewritten from the original - "Catalog risk level/score" became "Org risk level/score" because the underlying source changed from the KOI catalog to the org's own inventory record.
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiEnrichment.summary
      value:
        simple: |-
          ### KOI Item Enrichment
          | Field | Value |
          |---|---|
          | Item | ${inputs.item_id} (${KoiEnrichment.marketplace}) |
          | Version used | ${KoiEnrichment.version} |
          | Org risk level | ${KoiEnrichment.risk_level} |
          | Org risk score | ${KoiEnrichment.risk_score} |
          | Installed on endpoints | ${KoiEnrichment.endpoint_count} |
          | Hostnames | ${KoiEnrichment.hostnames} |

          _Org-local risk only. There is no catalog / vendor-wide risk and no AI risk summary in the Marketplace KOI pack v1.2.3. Empty risk means the item is not in this organization's inventory - it does not mean the item is safe._
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '16'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 2240}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: koixen00-0000-4000-8000-000000000016
    type: title
    task:
      id: koixen00-0000-4000-8000-000000000016
      version: -1
      name: Done
      iscommand: false
      brand: ''
      type: title
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 2410}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: koixen00-0000-4000-8000-000000000017
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000017
      version: -1
      name: Coerce marketplace to scalar (verbatim)
      description: 'Coerces the caller-supplied marketplace to a scalar and keeps it VERBATIM, before any vocabulary mapping. Playbook inputs arrive as 1-element arrays when fed from another playbook output; joining with an empty separator collapses them. May legitimately be empty - marketplace is only a filter on koi-inventory-list, and KOI Ext - Extract Alert Context cannot supply one on MCP alerts.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Enr.marketplace_raw
      value:
        complex:
          root: inputs.marketplace
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '18'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: koixen00-0000-4000-8000-000000000018
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000018
      version: -1
      name: Load the marketplace vocabulary map
      description: 'Loads the KOI marketplace vocabulary map as a JSON string. VERIFIED_FACTS 7c: the marketplace values carried in koi_koi_raw events are SHORT forms (software_windows, chrome, vsc, ...) while the KOI API and the pack YAML predefined lists use LONG forms (windows, chrome_web_store, vscode, ...). Passing an event value to a command unchanged returns HTTP 400. Each row is {src -> api}. The 22 API values are also present as identity rows, so the mapping is IDEMPOTENT and a value that is already in API form survives it unchanged - re-mapping an already-mapped value is safe. ollama, built_in and side_loaded are deliberately ABSENT: ollama has no API equivalent, and built_in / side_loaded are installation_method values leaking into the marketplace field. A value with no row maps to EMPTY, which downstream playbooks recover from with a koi-inventory-list lookup by item_id; a wrong value is an unrecoverable 400. KEEP THIS TABLE IDENTICAL IN ALL FOUR PLAYBOOKS THAT CARRY IT (Extract Alert Context, Investigate Item, Enrich Item, Block and Remediate).'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiMarketplaceMapRaw
      value:
        simple: '[{"src":"software_windows","api":"windows"},{"src":"software_mac","api":"mac"},{"src":"vsc","api":"vscode"},{"src":"jet","api":"jetbrains"},{"src":"npp","api":"notepad++"},{"src":"openvsx","api":"open_vsx_registry"},{"src":"chrome","api":"chrome_web_store"},{"src":"edge","api":"edge_add_ons"},{"src":"firefox","api":"firefox_add_ons"},{"src":"github","api":"github_mcp_registry"},{"src":"npm","api":"npm"},{"src":"pypi","api":"pypi"},{"src":"homebrew","api":"homebrew"},{"src":"chocolatey","api":"chocolatey"},{"src":"cursor","api":"cursor"},{"src":"docker","api":"docker"},{"src":"claude_desktop_extensions","api":"claude_desktop_extensions"},{"src":"chrome_web_store","api":"chrome_web_store"},{"src":"edge_add_ons","api":"edge_add_ons"},{"src":"firefox_add_ons","api":"firefox_add_ons"},{"src":"github_mcp_registry","api":"github_mcp_registry"},{"src":"hugging_face","api":"hugging_face"},{"src":"jetbrains","api":"jetbrains"},{"src":"linux","api":"linux"},{"src":"mac","api":"mac"},{"src":"notepad++","api":"notepad++"},{"src":"office_add_ins","api":"office_add_ins"},{"src":"open_vsx_registry","api":"open_vsx_registry"},{"src":"visual_studio","api":"visual_studio"},{"src":"vscode","api":"vscode"},{"src":"windows","api":"windows"},{"src":"windsurf","api":"windsurf"}]'
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '19'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 140}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: koixen00-0000-4000-8000-000000000019
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000019
      version: -1
      name: Parse the marketplace vocabulary map
      description: 'ParseJSON the vocabulary map into an array of objects so the next task can filter it. A complex value evaluates root -> accessor -> filters -> transformers, so the parse cannot be folded into the lookup task: its transformers would run after its filters.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiMarketplaceMap
      value:
        complex:
          root: KoiMarketplaceMapRaw
          transformers:
          - operator: ParseJSON
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '20'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 230}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: koixen00-0000-4000-8000-000000000020
    type: regular
    task:
      id: koixen00-0000-4000-8000-000000000020
      version: -1
      name: Normalize marketplace to the API vocabulary
      description: 'Normalizes the caller-supplied marketplace onto the KOI API vocabulary. The value can reach this playbook from three kinds of source and the task is correct for all three. (a) EVENT-DERIVED - a caller that read marketplace out of a koi_koi_raw row (KOI Ext - Extract Alert Context, or any audit-driven playbook written against this pack) supplies a SHORT form such as software_windows or chrome, which every KOI item command rejects with HTTP 400; this task translates it. (b) ALREADY IN API FORM - KOI Ext - Alert Triage passes a value it has already resolved; the map identity rows pass it through unchanged, so running it through here a second time is a no-op, not a double-mapping bug. (c) COMMAND-DERIVED - Koi.Inventory.marketplace is already API-canonical and is NEVER sent through this task; the fallback branch below reads it directly, because allow-listing a command output against a static table would silently drop a marketplace KOI adds to the API later. A value with no row becomes EMPTY, which routes to that same inventory fallback.'
      iscommand: false
      brand: ''
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Enr.marketplace_in
      value:
        complex:
          root: KoiMarketplaceMap
          filters:
          - - left:
                iscontext: true
                value:
                  simple: KoiMarketplaceMap.src
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: Enr.marketplace_raw
          - - left:
                iscontext: true
                value:
                  simple: Enr.marketplace_raw
              operator: isNotEmpty
              right:
                value: {}
          accessor: api
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ''
      append:
        simple: 'false'
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: koixen00-0000-4000-8000-000000000021
    type: condition
    task:
      id: koixen00-0000-4000-8000-000000000021
      version: -1
      name: Are a version AND a marketplace known?
      description: 'koi-inventory-item-endpoints-list requires item_id AND marketplace AND version, all three. Neither an empty version nor an empty marketplace can produce a usable call, and an unknown (item_id, marketplace, version) triple returns HTTP 404 rather than an empty 200 (VERIFIED_FACTS 7b) - so the call is skipped rather than made and failed. Marketplace is empty when the caller supplied none (no mcp_server alert carries one, and mcp_server is effectively all current ingestion - so this is the COMMON path now), when the value supplied has no API equivalent (ollama / built_in / side_loaded), and when the org inventory returned no record. A "no" here means endpoint exposure is UNKNOWN, not zero: the org inventory may simply not have indexed the item yet.'
      iscommand: false
      brand: ''
      type: condition
    conditions:
    - label: 'yes'
      condition:
      - - left:
            iscontext: true
            value:
              simple: Enr.version
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              simple: Enr.marketplace
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '9'
      'yes':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 450, "y": 960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 2520, "width": 780, "x": 250, "y": 50}}}'
inputs:
- key: item_id
  value: {}
  required: true
  description: The KOI item ID (package / extension / MCP identifier).
  playbookInputQuery: null
- key: marketplace
  value: {}
  required: false
  description: 'The item''s marketplace (npm, chrome_web_store, vscode, docker, ...). Optional here even though koi-inventory-item-endpoints-list requires it: when omitted, it is resolved from the org inventory record. Supply it when you know it - it narrows the inventory lookup. EITHER vocabulary is accepted - a raw event value (software_windows, chrome, vsc) is mapped to the API vocabulary by tasks 17-20, and a value already in API form passes through unchanged. A value with no API equivalent (ollama, built_in, side_loaded) is treated as unknown and resolved from the org inventory instead.'
  playbookInputQuery: null
- key: version
  value: {}
  required: false
  description: 'The item version. Optional: when omitted, the version on the org inventory record is used. Supply the alert''s version when you specifically want the version that triggered the alert rather than the version the org runs.'
  playbookInputQuery: null
- key: instance_name
  value: {}
  required: false
  description: The KOI integration instance to use. Leave empty to use the single configured instance.
  playbookInputQuery: null
outputs:
- contextPath: KoiEnrichment.risk_level
  description: The organization's risk level for the item (low/medium/high/critical/pending). Not catalog risk.
  type: string
- contextPath: KoiEnrichment.risk_score
  description: The organization's numeric risk for the item.
  type: number
- contextPath: KoiEnrichment.endpoint_count
  description: Number of endpoints returned as having the item installed.
  type: number
- contextPath: KoiEnrichment.hostnames
  description: Hostnames of endpoints on which the item is installed.
  type: unknown
- contextPath: KoiEnrichment.version
  description: The version actually used for the endpoints lookup.
  type: string
- contextPath: KoiEnrichment.marketplace
  description: The marketplace actually used for the endpoints lookup.
  type: string
- contextPath: KoiEnrichment.summary
  description: Markdown enrichment summary.
  type: string
- contextPath: Koi.Inventory
  description: The organization's inventory record for the item.
  type: unknown
- contextPath: Koi.Inventory.Endpoint
  description: Endpoints on which the item is installed.
  type: unknown
tags:
- koi
- koi-ext
quiet: false
